@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  
}

:root{
  --bg-color: #161815;
  --text-color: #fff;

  --second-color: #cf2524;
  --border-color:#444743;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

h3{
  font-size: 6vw;
  color: var(--text-color);

}
section {
  padding: 3rem 9%;
}





/*Header starts*/

.header{

  top: 0;
  right: 0;
  z-index: 10100;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 4rem 12% ;

}

#menu-btn{
  font-size: 2.2rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;

}

.navbar li{
  text-decoration: none;
  display: inline-block;

}

.header .navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 1rem;
  transition: ease .40s;

}

.header .navbar a:hover{
  color: var(--second-color);

}

.header .navbar li.active{
  border-bottom: 1px solid white;

}

header.sticky{
  background: var(--bg-color);

}

.logo a{
  display: flex;
  align-items: center;
}

.logo h1{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bolder;
  padding-left: 0.5rem;

}

.logo .dot{
  height: 25px;
  width: 25px;
  background-color: var(--second-color);
  border-radius: 50%;
  display: inline-block;

}

.header .search-box{
  position: relative;
  min-width: 40px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}

.header .search-box .search-btn i{
  color: white;
  font-size: 15px;
  align-items: center;

}

.header .search-box .input-box{
  position: absolute;
  width: 180px;
  height: 100%;
  right: 20px;
  transform: scaleX(0);
  transform-origin: right;

  background-color: white;
  color: #3e3e3e;
  font-size: 17px;
  outline: none;
  border: none;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  transition: 0.4s;
}

.header  .search-box:hover > .input-box{
  width: 180px;
  transform: scaleX(1);
  padding: 0px 25px 0px 10px;

}

.header  .input-box:focus{
  width: 180px;
  transform: scaleX(1);
  padding: 0px 25px 0px 10px;
}


.gallery .box-container {

          columns: 3 25rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;

          break-inside: avoid;
}

.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: #aaa;
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: #fff;
}



.gallery-title h4{
  text-align: center;
  font-size: 2.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}




.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #29d9d5;
  color: #29d9d5;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #29d9d5;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}
.d-flex{
  display: flex;
}
.footer .box-container .box .links:hover {
  color: #29d9d5;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #29d9d5;
}

.footer .box-container .box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #29d9d5;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2.5rem 2.5rem;
/*    padding: 4.5rem 12%;*/
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }


  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--bg-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
 /* .home {
    margin-top: 10rem;
  }
  */
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .populartours{
    display: none;
  }
  
}
