@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  
}

:root{
  --bg-color: #161815;
  --text-color: #fff;

  --second-color: #cf2524;
  --border-color:#444743;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

h3{
  font-size: 6vw;
  color: var(--text-color);

}

/*Header starts*/

.header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10100;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 4rem 12% ;

}

.navbar li{
  text-decoration: none;
  display: inline-block;

}

.header .navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 1rem;
  transition: ease .40s;

}

.header .navbar a:hover{
  color: var(--second-color);

}

.header .navbar li.active{
  border-bottom: 1px solid white;

}

header.sticky{
  background: var(--bg-color);
  
}