@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  
}

:root{
  --bg-color: #161815;
  --text-color: #fff;

  --second-color: #cf2524;
  --border-color:#444743;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

h3{
  font-size: 6vw;
  color: var(--text-color);

}





/*Header starts*/

.header{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10100;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 4rem 12% ;

}

.navbar li{
  text-decoration: none;
  display: inline-block;

}

.header .navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 1rem;
  transition: ease .40s;

}

.header .navbar a:hover{
  color: var(--second-color);

}

.header .navbar li.active{
  border-bottom: 1px solid white;

}

header.sticky{
  background: var(--bg-color);

}

.logo a{
  display: flex;
  align-items: center;
}

.logo h1{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: bolder;
  padding-left: 0.5rem;

}

.logo .dot{
  height: 25px;
  width: 25px;
  background-color: var(--second-color);
  border-radius: 50%;
  display: inline-block;

}

.header .search-box{
  position: relative;
  min-width: 40px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}

.header .search-box .search-btn i{
  color: white;
  font-size: 15px;
  align-items: center;

}

.header .search-box .input-box{
  position: absolute;
  width: 200px;
  height: 100%;
  right: 20px;
  transform: scaleX(0);
  transform-origin: right;

  background-color: white;
  color: #3e3e3e;
  font-size: 17px;
  outline: none;
  border: none;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  transition: 0.4s;
}

.header  .search-box:hover > .input-box{
  width: 200px;
  transform: scaleX(1);
  padding: 0px 25px 0px 10px;

}

.header  .input-box:focus{
  width: 200px;
  transform: scaleX(1);
  padding: 0px 25px 0px 10px;
}

/*Header ends*/



section{
  padding: 4.5rem 12%;
  padding-block: 100px;

}



/*Home starts*/


.home{
  position: relative;
  margin: 0 auto;

  height: 100vh;
  width: 100%;
 
  background: url(img/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  
  padding-bottom: 5rem;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
}

.home-text p{
  max-width: 60rem;
  margin-top: 1.6rem;
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 2;
  font-weight: 600;



}


/*Home ends*/



/*Popular Tours starts*/

.populartours{
  position: relative;
  width: 100%;

}

.populartours-text{
  text-align: center;

}

.populartours h3{
  font-size: 2.5rem;
  color: var(--text-color);
  text-transform: uppercase;

}

.populartours p {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  color: #fff;
}

.populartours-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 1.5rem;
  
  align-items: center;
  margin-top: 5rem;

}


.col-content {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.col-content img {
 
  object-fit: cover;
  border-radius: 1rem;

  width: 100%;
  max-width: 320px;
  height: auto;
  cursor: pointer;
  border: 1px solid #4e4f4c;

  overflow: hidden;
  transition: all .3s cubic-bezier(.495,.05,.55,.95);
  
}


.populartours-list h3{
  position: absolute;
  width: 100%;
  bottom: 60px;
  text-align: center;
}

.populartours-list p{
  position: absolute;
  width: 100%;
  bottom: 30px;
  letter-spacing: 2px;
  text-align: center;

}

.col-content img:hover{
  transform: scale(1.04);
}

/*Popular Tours ends*/



/*Videos section starts*/

.videos-section{
  display: flex;
  align-items: center;


  flex-wrap: wrap;
  gap: 2rem;

  background: url(img/jan-walter-luigi--MqSCWMBocs-unsplash.jpg);
  background-size: cover;
  background-position: center;
 
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;



}

.video-container{
  flex: 1 42rem;
}


video {
  width: 100%;
/*  height: auto;*/
}


.video-container .controls{
  text-align: center;
  padding: 2rem 0;

}


.video-container .controls span{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: .7rem;

}

.video-container .controls span:hover{
  background: var(--second-color);

}



  
.videos-text{
  flex: 10 42rem;
}


.videos-text h3 {
  font-size: 5.5vw;
  color: #fff;
  text-transform: uppercase;

}

.videos-text p {
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #fff;
  line-height: 2;
  font-weight: 600;
}


.videos-text, .video-container{
  padding-top: 3rem;
  padding-bottom: 3rem;

}